<h1 class="mt-4">Домашняя страница</h1>
<%= form_tag(search_path, method: "get") do %>
  <%= text_field_tag(:query, params[:query]) %>
  <%= submit_tag("Search") %>
<% end %>
<% @files.each do |file| %>
  <div>
    <h3 class="mt-5">Name:</h3>  
    <%= file.name if file.name.present? %>
    <% if file.attachment.present? %>
      <% if image_file?(file.attachment.url) %>
        <h3>Preview:</h3>
        <%= image_tag file.attachment.url, height: '300', width: '300' %>
      <% else %>
        <h3>File:</h3>
        <%= link_to file.attachment.url, target: '_blank' do %>
          <%= file.attachment.identifier %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= file.created_at.strftime('%Y-%m-%d %H:%M:%S') if file.created_at.present? %>
  
  <p class="mt-4">
    <%= link_to "Show", uploaded_file_path(file), class: "btn btn-secondary" %>
    <%= button_to "Move to trash", uploaded_file_path(file), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
