<style>
  .progress-container {
    width: 835px;
    height: 30px;
  }
  
  .progress-bar {
    height: 12px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 6px; /* Задайте радиус скругления по вашему вкусу */
  }
  </style>
  
  
  <div>
    <%= "#{number_to_human_size(@all_size)} / 15 GB" %>
</div>


<div class="progress-container">
  <div class="progress-bar" ><%= @progress_percentage.round(2) %>%</div>
</div>

<% @files.each_with_index do |file, index| %>
  <div class="mt-4">
    <h3>Name:</h3>  
    <%= file.name if file.name.present? %>
    <% if file.attachment.present? %>
      <% if image_file?(file.attachment.url) %>
        <h3>Preview:</h3>
        <%= image_tag file.attachment.url, height: '300', width: '300' %>
      <% else %>
        <p>File:</p>
        <%= link_to file.attachment.url, target: '_blank' do %>
          <%= file.attachment.identifier %>
        <% end %>
    <% end %>
    <div>
      <%= number_to_human_size(@all_size) %>
        
      <% end %>
      <div><%= file.created_at.strftime('%Y-%m-%d %H:%M:%S') if file.created_at.present? %></div>
    </div>
  </div>
<% end %>
